body {
    margin: 0px;
    padding: 0px;
}

.contactDiv {
    position: relative;
    height: 30vw;
    margin: 0;
    background-color: #070707e3;
    top: 30vw;
    bottom: 0;
}

.detail {
    display: inline-block;
    position: relative;
    top: 2vw;
    font-size: 1.8vw;
    font-family: serif;
    color: #f3f5f6;
    width: 35vw;
    height: 25vw;
    text-align: center;
}

.email {
    display: inline-block;
    position: relative;
    width: 25vw;
    height: 2.8vw;
    border-radius: 10px;
    background-color: #dee0e1;
    padding: 0px 7px;
}

.title {
    display: inline-block;
    position: relative;
    width: 25vw;
    height: 2.8vw;
    border-radius: 10px;
    background-color: #dee0e1;
    padding: 0px 7px;
    top: 2vh;
}

.phone {
    display: inline-block;
    position: relative;
    width: 25vw;
    height: 2.8vw;
    border-radius: 10px;
    background-color: #dee0e1;
    padding: 0px 7px;
    top: 4vh;
}

.submit {
    position: relative;
    width: 15vw;
    top: 3vw;
    height: 2.5vw;
    border-radius: 10px;
    font-size: 1.5vw;
    font-family: sans-serif;
    background-color: #989898;
}

.submit:hover {
    transition: 0.4s ease;
    background-color: #e7e6e6;
}

.address {
    position: relative;
    display: inline-block;
    height: 25vw;
    width: 40vw;
    float: right;
    top: 2vw;
    right: 6vw;
    font-size: 1.8vw;
    font-family: serif;
    text-align: right;
    color: #f7f7f7;
}

.detail h2,
.address h2 {
    font-family: sans-serif;
}

.socialIcons {
    position: relative;
    font-size: 2.5vw;
}

.socialIcons a {
    text-decoration: none;
    color: rgb(248, 248, 248);
    text-align: center;
    margin: 1vw;
}

@media screen and (max-width:1000px) {
    .submit {
        width: 18vw;
        top: 5vw;
        height: 3vw;
        transition: 0.5s ease;
    }
    .socialIcons {
        font-size: 3.5vw;
        transition: 0.5s ease;
    }
}

@media screen and (max-width:700px) {
    .contactDiv {
        top: 60vw;
        width: 100vw;
        height: 100vw;
        transition: 0.5s ease;
    }
    .detail {
        width: 100vw;
        transition: 0.5s ease;
    }
    .email {
        width: 70vw;
        height: 6vw;
        transition: 0.5s ease;
    }
    .title {
        width: 70vw;
        height: 6vw;
        transition: 0.5s ease;
    }
    .phone {
        width: 70vw;
        height: 6vw;
        transition: 0.5s ease;
    }
    .submit {
        width: 60vw;
        height: 6vw;
        top: 10vw;
        font-size: 4vw;
        transition: 0.5s ease;
    }
    .address {
        display: block;
        position: relative;
        top: 20vw;
        text-align: center;
        left: 0;
        width: 100vw;
        float: none;
        font-size: 3vw;
        transition: 0.5s ease;
    }
    .detail h2,
    .address h2 {
        font-size: 5vw;
        transition: 0.5s ease;
    }
    .socialIcons {
        font-size: 5vw;
        margin: 5vw;
        transition: 0.5s ease;
    }
}