@media screen and (max-width:1000px) {
    .aboutText {
        font-size: 3.5vw;
        margin: 0vw 1vw;
    }
    .about {
        top: 12vw;
    }
    .aboutData {
        top: 20vw;
        height: 112.5vw;
    }
    .flip-box {
        width: 20vw;
        height: 20vw;
        left: 20vw;
        top: 3vw;
    }
    .myImg {
        width: 20vw;
        height: 20vw;
    }
    .aboutInfo {
        width: 50vw;
        left: 5vw;
        top: 6vw;
        font-size: 2vw;
    }
    .skills {
        font-size: 2.5vw;
    }
    .skillList {
        font-size: 2vw;
    }
}